In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

In [2]:
rent = pd.read_csv('../data/Apartment_List_Rent_Estimates_State_2021_11.csv')

In [3]:
rent.head(5)

,State_Name,FIPS_Code,Population,Bedroom_Size,2017_01,2017_02,2017_03,2017_04,2017_05,2017_06,...,2021_02,2021_03,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11
0,Alabama,1,4864680,_Overall,829.0,835.0,836.0,835.0,839.0,839.0,...,925.0,932.0,942.0,964.0,985.0,1014.0,1032.0,1044.0,1041.0,1033.0
1,Alabama,1,4864680,_Studio,635.0,639.0,640.0,639.0,642.0,642.0,...,708.0,714.0,721.0,738.0,754.0,776.0,790.0,799.0,797.0,791.0
2,Alabama,1,4864680,1br,644.0,649.0,650.0,649.0,652.0,652.0,...,719.0,724.0,732.0,749.0,766.0,788.0,802.0,811.0,809.0,803.0
3,Alabama,1,4864680,2br,791.0,797.0,798.0,797.0,801.0,801.0,...,883.0,890.0,899.0,920.0,941.0,968.0,985.0,996.0,994.0,986.0
4,Alabama,1,4864680,3br,961.0,968.0,969.0,968.0,972.0,973.0,...,1072.0,1081.0,1092.0,1117.0,1142.0,1175.0,1196.0,1210.0,1207.0,1198.0

In [4]:
rent.tail()

,State_Name,FIPS_Code,Population,Bedroom_Size,2017_01,2017_02,2017_03,2017_04,2017_05,2017_06,...,2021_02,2021_03,2021_04,2021_05,2021_06,2021_07,2021_08,2021_09,2021_10,2021_11
283,Wyoming,56,581836,_Studio,673.0,690.0,693.0,672.0,658.0,668.0,...,649.0,655.0,682.0,708.0,719.0,731.0,743.0,756.0,760.0,756.0
284,Wyoming,56,581836,1br,640.0,656.0,659.0,639.0,625.0,635.0,...,617.0,623.0,648.0,673.0,684.0,695.0,707.0,718.0,723.0,719.0
285,Wyoming,56,581836,2br,798.0,818.0,822.0,796.0,779.0,791.0,...,769.0,776.0,808.0,838.0,852.0,866.0,880.0,895.0,900.0,896.0
286,Wyoming,56,581836,3br,1063.0,1090.0,1094.0,1061.0,1038.0,1054.0,...,1025.0,1034.0,1076.0,1117.0,1135.0,1154.0,1173.0,1192.0,1199.0,1194.0
287,Wyoming,56,581836,4br,1307.0,1340.0,1345.0,1304.0,1276.0,1296.0,...,1260.0,1271.0,1323.0,1373.0,1395.0,1418.0,1442.0,1466.0,1475.0,1467.0

In [5]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State_Name    288 non-null    object
 1   FIPS_Code     288 non-null    int64
 2   Population    288 non-null    int64
 3   Bedroom_Size  288 non-null    object
 4   2017_01       288 non-null    float64
 5   2017_02       288 non-null    float64
 6   2017_03       288 non-null    float64
 7   2017_04       288 non-null    float64
 8   2017_05       288 non-null    float64
 9   2017_06       288 non-null    float64
 10  2017_07       288 non-null    float64
 11  2017_08       288 non-null    float64
 12  2017_09       288 non-null    float64
 13  2017_10       288 non-null    float64
 14  2017_11       288 non-null    float64
 15  2017_12       288 non-null    float64
 16  2018_01       288 non-null    float64
 17  2018_02       288 non-null    float64
 18  2018_03       288 non-null    float64
 19  2018_04       288 non-null    float64
 20  2018_05       288 non-null    float64
 21  2018_06       288 non-null    float64
 22  2018_07       288 non-null    float64
 23  2018_08       288 non-null    float64
 24  2018_09       288 non-null    float64
 25  2018_10       288 non-null    float64
 26  2018_11       288 non-null    object
 27  2018_12       288 non-null    object
 28  2019_01       288 non-null    object
 29  2019_02       288 non-null    object
 30  2019_03       288 non-null    float64
 31  2019_04       288 non-null    float64
 32  2019_05       288 non-null    float64
 33  2019_06       288 non-null    float64
 34  2019_07       288 non-null    float64
 35  2019_08       288 non-null    float64
 36  2019_09       288 non-null    float64
 37  2019_10       288 non-null    float64
 38  2019_11       288 non-null    float64
 39  2019_12       288 non-null    float64
 40  2020_01       288 non-null    float64
 41  2020_02       288 non-null    float64
 42  2020_03       288 non-null    float64
 43  2020_04       288 non-null    float64
 44  2020_05       288 non-null    float64
 45  2020_06       288 non-null    float64
 46  2020_07       288 non-null    float64
 47  2020_08       288 non-null    float64
 48  2020_09       288 non-null    float64
 49  2020_10       288 non-null    float64
 50  2020_11       288 non-null    float64
 51  2020_12       288 non-null    float64
 52  2021_01       288 non-null    float64
 53  2021_02       288 non-null    float64
 54  2021_03       288 non-null    float64
 55  2021_04       288 non-null    float64
 56  2021_05       288 non-null    float64
 57  2021_06       288 non-null    float64
 58  2021_07       288 non-null    float64
 59  2021_08       288 non-null    float64
 60  2021_09       288 non-null    float64
 61  2021_10       288 non-null    float64
 62  2021_11       288 non-null    float64
dtypes: float64(55), int64(2), object(6)
memory usage: 141.9+ KB

In [6]:
rent.shape

(288, 63)

In [7]:
rent2 = rent.drop(columns = ['2021_01','2021_02','2021_03','2021_04','2021_05',
                     '2021_06','2021_07','2021_08','2021_09','2021_10','2021_11'])

In [8]:
rent2.shape

(288, 52)

In [9]:
rent2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State_Name    288 non-null    object
 1   FIPS_Code     288 non-null    int64
 2   Population    288 non-null    int64
 3   Bedroom_Size  288 non-null    object
 4   2017_01       288 non-null    float64
 5   2017_02       288 non-null    float64
 6   2017_03       288 non-null    float64
 7   2017_04       288 non-null    float64
 8   2017_05       288 non-null    float64
 9   2017_06       288 non-null    float64
 10  2017_07       288 non-null    float64
 11  2017_08       288 non-null    float64
 12  2017_09       288 non-null    float64
 13  2017_10       288 non-null    float64
 14  2017_11       288 non-null    float64
 15  2017_12       288 non-null    float64
 16  2018_01       288 non-null    float64
 17  2018_02       288 non-null    float64
 18  2018_03       288 non-null    float64
 19  2018_04       288 non-null    float64
 20  2018_05       288 non-null    float64
 21  2018_06       288 non-null    float64
 22  2018_07       288 non-null    float64
 23  2018_08       288 non-null    float64
 24  2018_09       288 non-null    float64
 25  2018_10       288 non-null    float64
 26  2018_11       288 non-null    object
 27  2018_12       288 non-null    object
 28  2019_01       288 non-null    object
 29  2019_02       288 non-null    object
 30  2019_03       288 non-null    float64
 31  2019_04       288 non-null    float64
 32  2019_05       288 non-null    float64
 33  2019_06       288 non-null    float64
 34  2019_07       288 non-null    float64
 35  2019_08       288 non-null    float64
 36  2019_09       288 non-null    float64
 37  2019_10       288 non-null    float64
 38  2019_11       288 non-null    float64
 39  2019_12       288 non-null    float64
 40  2020_01       288 non-null    float64
 41  2020_02       288 non-null    float64
 42  2020_03       288 non-null    float64
 43  2020_04       288 non-null    float64
 44  2020_05       288 non-null    float64
 45  2020_06       288 non-null    float64
 46  2020_07       288 non-null    float64
 47  2020_08       288 non-null    float64
 48  2020_09       288 non-null    float64
 49  2020_10       288 non-null    float64
 50  2020_11       288 non-null    float64
 51  2020_12       288 non-null    float64
dtypes: float64(44), int64(2), object(6)
memory usage: 117.1+ KB

In [10]:
rent2

,State_Name,FIPS_Code,Population,Bedroom_Size,2017_01,2017_02,2017_03,2017_04,2017_05,2017_06,...,2020_03,2020_04,2020_05,2020_06,2020_07,2020_08,2020_09,2020_10,2020_11,2020_12
0,Alabama,1,4864680,_Overall,829.0,835.0,836.0,835.0,839.0,839.0,...,897.0,893.0,893.0,892.0,901.0,908.0,918.0,921.0,923.0,923.0
1,Alabama,1,4864680,_Studio,635.0,639.0,640.0,639.0,642.0,642.0,...,687.0,684.0,684.0,683.0,690.0,695.0,703.0,705.0,707.0,706.0
2,Alabama,1,4864680,1br,644.0,649.0,650.0,649.0,652.0,652.0,...,697.0,694.0,694.0,694.0,701.0,706.0,713.0,716.0,718.0,717.0
3,Alabama,1,4864680,2br,791.0,797.0,798.0,797.0,801.0,801.0,...,856.0,852.0,853.0,852.0,861.0,867.0,876.0,879.0,882.0,881.0
4,Alabama,1,4864680,3br,961.0,968.0,969.0,968.0,972.0,973.0,...,1040.0,1035.0,1035.0,1035.0,1045.0,1053.0,1064.0,1068.0,1071.0,1070.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Wyoming,56,581836,_Studio,673.0,690.0,693.0,672.0,658.0,668.0,...,689.0,682.0,676.0,675.0,673.0,667.0,665.0,660.0,656.0,657.0
284,Wyoming,56,581836,1br,640.0,656.0,659.0,639.0,625.0,635.0,...,655.0,648.0,643.0,642.0,640.0,634.0,633.0,627.0,624.0,625.0
285,Wyoming,56,581836,2br,798.0,818.0,822.0,796.0,779.0,791.0,...,816.0,808.0,801.0,800.0,797.0,790.0,788.0,781.0,777.0,778.0
286,Wyoming,56,581836,3br,1063.0,1090.0,1094.0,1061.0,1038.0,1054.0,...,1087.0,1076.0,1067.0,1066.0,1062.0,1052.0,1050.0,1041.0,1035.0,1037.0
287,Wyoming,56,581836,4br,1307.0,1340.0,1345.0,1304.0,1276.0,1296.0,...,1336.0,1323.0,1312.0,1310.0,1306.0,1294.0,1291.0,1280.0,1273.0,1275.0

In [11]:
rent2.State_Name.value_counts().head().sort_values()

Colorado        6
Michigan        6
Iowa            6
Missouri        6
Pennsylvania    6
Name: State_Name, dtype: int64